<a href="https://colab.research.google.com/github/mndzangelina/Angelina_DTSC3020_Fall2025/blob/main/assignment2_am4478.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Fruits=["Strawberry", "grape", "cherry"]
print(Fruits)

['Strawberry', 'grape', 'cherry']

In [ ]:
Fruits=["Strawberry", "grape", "cherry"]
print(Fruits[0])

Strawberry

In [ ]:
Fruits=["Strawberry", "grape", "cherry"]
print(Fruits[1])

grape

In [ ]:
Fruits=["Strawberry", "grape", "cherry"]
print(Fruits[2])

cherry

In [ ]:
Names=["Amity", "Matthew", "Gabe", "Kayla"]
print(Names)

['Amity', 'Matthew', 'Gabe', 'Kayla']

In [ ]:
Names[0]= 'Chris'
print(Names)

['Chris', 'Matthew', 'Gabe', 'Kayla']

In [ ]:
Vehicles=["car", "bus", "bike", "scooter", "motorcycle"]
print(Vehicles)

['car', 'bus', 'bike', 'scooter', 'motorcycle']

In [ ]:
Vehicles.append('van')
print(Vehicles)

['car', 'bus', 'bike', 'scooter', 'motorcycle', 'van']

In [ ]:
Foods=["nachos", "sushi", "cake", "pizza", "bagel", "sandwhich"]
print(Foods)

['nachos', 'sushi', 'cake', 'pizza', 'bagel', 'sandwhich']

In [ ]:
Foods.remove("bagel")
print(Foods)

['nachos', 'sushi', 'cake', 'pizza', 'sandwhich']

In [ ]:
Cities=["Los Angeles", "Fort Worth", "Chicago", "Austin"]
print(Cities)

['Los Angeles', 'Fort Worth', 'Chicago', 'Austin']

In [ ]:
Cities.sort()
print(Cities)

['Austin', 'Chicago', 'Fort Worth', 'Los Angeles']

In [ ]:
Cities.sort(reverse=True)
print(Cities)

['Los Angeles', 'Fort Worth', 'Chicago', 'Austin']

In [2]:
Animals= ["tiger", "shark", "deer"]
for animal in Animals:
    print(animal)

tiger
shark
deer

In [ ]:
Numbers= list(range(1, 6))
print(Numbers)

[1, 2, 3, 4, 5]

In [4]:
numbers_to_multiply = [1, 2, 3, 4, 5]
multiplied_numbers = []

for number in numbers_to_multiply:
  multiplied_numbers.append(number * 2)

print(multiplied_numbers)

[2, 4, 6, 8, 10]

In [5]:
friends= ["amity", "alaya", "gabe", "matthew", "dean","tiffany"]
print(friends[0:3])

['amity', 'alaya', 'gabe']

In [7]:
print(friends[3:6])

['matthew', 'dean', 'tiffany']

In [8]:
for value in range(1, 11):
  print(value)

1
2
3
4
5
6
7
8
9
10

In [9]:
squares= [value**2 for value in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]